div#programs-manager {
    width: 95%;
    margin: 2.5%;
    border: solid rgb(24, 60, 52, 0.35) 2px;
    border-radius: 5px;
}

span.program-manager-head-col {
    background-color: rgb(24, 60, 52, 0.8);
    color: white;
    text-align: center;
    border-right: solid white 2px;
}

span.program-manager-data-col {
    color: rgb(24, 60, 52);
    background-color: white;
    border-bottom:  solid rgb(24, 60, 52, 0.35) 2px;
    border-right:  solid rgb(24, 60, 52, 0.35) 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

span#program-name-display-col-head {
    width: 20%;
}

span#program-parent-subcategory-display-col-head {
    width: 20%;
}

span#program-enrollees-display-col-head {
    width: 12.5%;
}

span#program-difficulty-display-col-head {
    width: 7.5%;
}

span#program-description-display-col-head {
    width: 35%;
}

span#program-options-display-col-head {
    width: 5%;
}

span.program-name-display-col {
    width: 20%;
}

span.program-parent-subcategory-display-col {
    width: 20%;
}

span.program-enrollees-display-col {
    width: 12.5%;
}

span.program-difficulty-display-col {
    width: 7.5%;
}

span.program-description-display-col {
    width: 35%;
}

span.delete-program-col {
    width: 5%;
    background-image: url(../../../../assets/outline-delete_forever-24px.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(104,54,165, 0.25);
    border-bottom: solid rgb(24, 60, 52, 0.35) 2px;
    border-right: solid rgb(24, 60, 52, 0.35) 2px;
}
/*
span.view-program-subcategory-subcategories-col {
    width: 7.5%;
    background-image: url(../../../../assets/outline-lock-24px.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgb(104,54,165, 0.25);
    border-bottom: solid rgb(24, 60, 52, 0.35) 2px;
    border-right: solid rgb(24, 60, 52, 0.35) 2px;
}
*/