div#NavigationBar   {
    z-index: 5;
    min-height: 10%;
    margin: 0 auto;
    background-color: white;
}

div#NavigationBar.wimbledon-purple-theme {
    background-color: rgb(104,54,165);
}

span.NavigationBarOption    {
    color: rgb(24, 60, 52);
    font-size: 125%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a#GoHome  {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-image: url("https://s3-us-west-1.amazonaws.com/ncrc/images/NCRCLogo60px.png");
    background-repeat: no-repeat;
}

span.pointer    {
    display: none;
}

span.Dropdown   {
    position: relative;
}

span.Dropdown:hover span.pointer    {
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(24, 60, 52);
    position: absolute;
    bottom: 0;
    opacity: .95;
}

span.Dropdown:hover div.DropdownMenu {
    display: flex;
}

div.DropdownMenu  {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 28.5%;
    z-index: 5;
    width: 600%;
    height: 60vh;
    background-color: rgb(24, 60, 52);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: .95;
    color: white;
}

div.DropdownMenu#ProgramsDropdownMenu   {
    margin-left: 150%;
}

div.DropdownMenu#EventsDropdownMenu   {
    margin-left: -50%;
}

div.DropdownMenu#AboutDropdownMenu   {
    margin-left: -150%;
}

span.DropdownMenuSection    {
    padding-left: 5%;
    flex: 1;
    display: block;
    text-align: left;
}

h2.DropdownMenuSectionHeader    {
    margin-top: 10%;
    border-bottom: solid white 2px;
}

h5.DropdownLink {
    margin: 5%;
}

img.DropdownMenuImage   {
    margin: 10%;
    width: 80%;
    height: auto;
    border: solid white 1px;
}

h4.NavigationBarOptionText  {
    cursor: pointer;
}

a.NavigationBarLink {
    color: rgb(24, 60, 52);
    text-decoration-line: none;
    text-decoration-color: rgb(24, 60, 52);
    text-decoration: none;
}

a.DropdownMenuLink {
    color: white;
    text-decoration-line: none;
    text-decoration-color: white;
    text-decoration: none;
}

a.DropdownMenuLink:visited {
    color: white;
    text-decoration-line: none;
    text-decoration-color: white;
    text-decoration: none;
}